# Strings
Python string is the collection of the characters surrounded by single quotes, double quotes, or triple quotes. The computer does not understand the characters; internally, it stores manipulated character as the combination of the 0's and 1's.
In Python, strings can be created by enclosing the character or the sequence of characters in the quotes. Python allows us to use single quotes, double quotes, or triple quotes to create the string.

In [2]:
#Consider the following example in Python to create a string.

#Syntax:
#str = "Hi Python !"    
#Here, if we check the type of the variable str using a Python script

print(type(str)) #, then it will print a string (str).

<class 'type'>

In [1]:
# examples
#Using single quotes  
str1 = 'Hello Python'  
print(str1)  
#Using double quotes  
str2 = "Hello Python"  
print(str2)  
  
#Using triple quotes  
str3 = '''''Triple quotes are generally used for  
    represent the multiline or 
    docstring'''   
print(str3)

Hello Python
Hello Python
''Triple quotes are generally used for
    represent the multiline or
    docstring

# list
A list in Python is used to store the sequence of various types of data. A list can be defined as a collection of values or items of different types. Python lists are mutable type which implies that we may modify its element after it has been formed. The items in the list are separated with the comma (,) and enclosed with the square brackets [].

# Characteristics of Lists
The list has the following characteristics:

1)The lists are ordered.
2)The element of the list can access by index.
3)The lists are the mutable type.
4)The lists are mutable types.
5)A list can store the number of various elements.

In [2]:
# a simple list   
list1 = [1, 2, "rayfadda", "justice", 1.9]      
list2 = ["Rita", "Ebube", "Henry", "Emma"]   
  
# printing the list  
print(list1)  
print(list2)  
  
# printing the type of list  
print(type(list1))  
print(type(list2))

[1, 2, 'rayfadda', 'justice', 1.9]
['Rita', 'Ebube', 'Henry', 'Emma']
<class 'list'>
<class 'list'>

In [ ]:
#Lists permanently preserve the element's order. It is the arranged gathering of things because of this.

# list example in detail  
emp = [ "Raymond", 502, "USA"]       
Dep1 = [ "CS",10]    
Dep2 = [ "IT",11]      
HOD_CS = [ 10,"Mr. Holding"]      
HOD_IT = [11, "Mr. Bewon"]      
print("printing employee data ...")      
print(" Name : %s, ID: %d, Country: %s" %(emp[0], emp[1], emp[2]))      
print("printing departments ...")     
print("Department 1:\nName: %s, ID: %d\n Department 2:\n Name: %s, ID: %s"%( Dep1[0], Dep2[1], Dep2[0], Dep2[1]))      
print("HOD Details ....")      
print("CS HOD Name: %s, Id: %d" %(HOD_CS[1], HOD_CS[0]))      
print("IT HOD Name: %s, Id: %d" %(HOD_IT[1], HOD_IT[0]))      
print(type(emp), type(Dep1), type(Dep2), type(HOD_CS), type(HOD_IT))

# List Indexing and Splitting
The indexing is processed in the same way as it happens with the strings. The elements of the list can be accessed by using the slice operator [].The index starts from 0 and goes to length - 1. The first element of the list is stored at the 0th index, the second element of the list is stored at the 1st index, and so on.

We can get the sub-list of the list using the following syntax.

list_varible(start:stop:step) 

The start denotes the starting index position of the list.
The stop denotes the last index position of the list.
The step is used to skip the nth element within a start:stop
The initial index is represented by the start parameter, the ending index is determined by the step, and also the number of elements which are "stepped" through is the value of the end parameter. In the absence of a specific value for step, the default value equals 1. Inside the resultant SubList, the item also with index start would be present, but the one with the index finish will not. A list's initial element seems to have the index of 0.

In [11]:
list = [1,2,3,4,5,6,7]    
print(list[0])    
print(list[1])    
print(list[2])    
print(list[3])    
# Slicing the elements    
print(list[0:6])    
# By default, the index value is 0 so its starts from the 0th element and go for index -1.    
print(list[:])    
print(list[2:5])    
print(list[1:6:2]) 
print(list[-9:-1])
print(list[-4])

1
2
3
4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[2, 4, 6]
[1, 2, 3, 4, 5, 6]
4

# Updating List Values
Lists are the most versatile data structures in Python since they are mutable, and their values can be updated by using the slice and assignment operator. Python also provides append() and insert() methods, which can be used to add values to the list.

In [12]:
list[6]=20
print(list)

[1, 2, 3, 4, 5, 6, 20]

In [14]:
# we can add to the list
list.append(50)
print(list)

[1, 2, 3, 4, 5, 6, 20, 50]

In [15]:
# to remove from the list
list.remove(50)
print(list)

[1, 2, 3, 4, 5, 6, 20]

In [17]:
list.remove(list[4])
print(list)

[1, 2, 3, 4, 20]

In [18]:
#concatenation ; to join two list together 
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c= a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
#len() function gives us the number of item in a list
len(c)

10

In [20]:
#max() function returns the maximum number in the list
max(c)

10

In [21]:
# min returns the minimum number in the list
min(c)

1

In [22]:
# repeatition of list

list

[1, 2, 3, 4, 20]

In [23]:
r = list *2

In [24]:
print(r)

[1, 2, 3, 4, 20, 1, 2, 3, 4, 20]

In [25]:
# iteration of list
list

[1, 2, 3, 4, 20]

In [26]:
for i in list:
    print(i)

1
2
3
4
20

In [27]:
names = ['Raymond','Lucky','Rita','Mike','Evelyn','Godfrey']
for name in names:
    print(name)

Raymond
Lucky
Rita
Mike
Evelyn
Godfrey

In [29]:
# you can check if an item is part of the list (check for membership)

'Raymond' in names

True

In [30]:
'Ebube' in names

False

In [35]:
###### Declaring the empty list    
l =[]    
#Number of elements will be entered by the user      
n = int(input("Enter the number of elements in the list:"))    
# for loop to take the input    
for i in range(0,n):       
    # The input is taken from the user and added to the list as the item    
    l.append(input("Enter the list element:"))       
print("printing the list items..")     
# traversal loop to print the list items      
for i in l:     
    print(i, end = "  ")

Enter the number of elements in the list: 3
Enter the list element: 3
Enter the list element: 3
Enter the list element: 3

printing the list items..
3  3  3

In [34]:
w=[2,3]
d= int(input('enter the number of names in the list:'))
for i in range(0,d):
    w.append(input('my name is'))
    print('number of names..')
    for i in w :
        print(i, end =" ")

enter the number of names in the list: 2
my name is godfry

number of names..
2 3 godfry

my name is 4

number of names..
2 3 godfry 4

In [36]:
list

[1, 2, 3, 4, 20]

In [42]:
sum = 0
for i in list:
    sum=sum+i
    print('the sum is:', sum)

the sum is: 1
the sum is: 3
the sum is: 6
the sum is: 10
the sum is: 30

In [41]:
# to deal with duplicate 
numbers =[1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9]
figures=[]
for i in numbers:
     if i not in figures:
            figures.append(i)
            print(figures)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuples
A Python Tuple is a group of items that are separated by commas. The indexing, nested objects, and repetitions of a tuple are somewhat like those of a list, however unlike a list, a tuple is immutable.

The distinction between the two is that while we can edit the contents of a list, we cannot alter the elements of a tuple once they have been assigned.

# Features of Python Tuple
Tuples are an immutable data type, which means that once they have been generated, their elements cannot be changed.
Since tuples are ordered sequences, each element has a specific order that will never change.
# Creating of Tuple:
To create a tuple, all the objects (or "elements") must be enclosed in parenthesis (), each one separated by a comma. Although it is not necessary to include parentheses, doing so is advised.

A tuple can contain any number of items, including ones with different data types (dictionary, string, float, list, etc.).

In [56]:
# Python program to show how to create a tuple    
# Creating an empty tuple    
empty_tuple = ()    
print("Empty tuple: ", empty_tuple)    
    
# Creating tuple having integers    
int_tuple = (4, 6, 8, 10, 12, 14)    
print("Tuple with integers: ", int_tuple)    
    
# Creating a tuple having objects of different data types    
mixed_tuple = (4, "Python", 9.3)    
print("Tuple with different data types: ", mixed_tuple)    
    
# Creating a nested tuple    
nested_tuple = ("Python", {4: 5, 6: 2, 8:2}, (5, 3, 5, 6))    
print("A nested tuple: ", nested_tuple)

Empty tuple:  ()
Tuple with integers:  (4, 6, 8, 10, 12, 14)
Tuple with different data types:  (4, 'Python', 9.3)
A nested tuple:  ('Python', {4: 5, 6: 2, 8: 2}, (5, 3, 5, 6))