# Week 1: Day3- Loops and Iterations

# Loops
This is a statement that runs repeatedly as long as the condition is met. Once the condition proves otherwise, it stops that statement and move to the next.

In [3]:
n=5
while n > 0:
    print(n)
    n= n-1
    print(n)
    print('blastoff')

5
4
blastoff
4
3
blastoff
3
2
blastoff
2
1
blastoff
1
0
blastoff

# Counting in a Loop
This is a loop where the computer counts string or integer or members (values) individually and give you the total number. For example;

In [5]:
zork = 0
print('Before', zork)
for things in [9,41,12,3,74,15]:
    zork += 1
    print(zork, things)
    print('After', zork)

Before 0
1 9
After 1
2 41
After 2
3 12
After 3
4 3
After 4
5 74
After 5
6 15
After 6

# Summing in a Loop and finding the average
To add up a value we encounter in a loop, we introduce a sum variable that starts at 0 and we add the value to the sum each time through the loop. we can also find the average in a loop.

In [8]:
count = 0
sum = 0
print('Before', count, sum)
for values in [9,41,12,3,74,15]:
    count += 1
    sum += values
    print('count=',count,'sum=', sum, values)
    print('After',count, sum)
    print(sum/count)

Before 0 0
count= 1 sum= 9 9
After 1 9
9.0
count= 2 sum= 50 41
After 2 50
25.0
count= 3 sum= 62 12
After 3 62
20.666666666666668
count= 4 sum= 65 3
After 4 65
16.25
count= 5 sum= 139 74
After 5 139
27.8
count= 6 sum= 154 15
After 6 154
25.666666666666668

# Filtering in a Loop
We can use the if statement in the loop to catch/filter the value we are looking for. values can be anything, it could be list of names,numbers and so on.

In [9]:
for value in [9,41,12,3,74,15]:
    if value > 20:
        print('large number', value)
        print('after')

large number 41
after
large number 74
after

# searching using a boolean variable
If we just want to search and know if the value was found, we use a variable that starts at false and set it to true as soon as we find what we are looking for.
Example;

In [13]:
found = False
print('Before', found)
for value in [9,41,12,3,74,15]:
        if value == 3 : 
            found= True
            print(found,value)
            print('After',found)

Before False
True 3
After True

The reason we set found to false initially is because we have not found 3 yet , it is only going to read true when it find 3, and if there is no statement or condition to set it back to false, it read true all through after 3 has been found.

To look for the largest number, set the initial number as 0 or -1 or any number that is smaller that the smallest number in the set. Example;

In [15]:
largest_so_far = 0 
print('Before', largest_so_far)
for the_num in [9,41,12,3,74,15]:
    if the_num > largest_so_far:
        largest_so_far = the_num
        print(largest_so_far, the_num)
        print('After', largest_so_far)

Before 0
9 9
After 9
41 41
After 41
74 74
After 74

In [ ]:
To look fo the smallest number, one of the way to do that is to set the smallest so far to be bigger than the largest number in the set. example

In [17]:
smallest_so_far = 200 
print('Before', smallest_so_far)
for the_num in [9,41,12,3,74,15]:
    if the_num < smallest_so_far:
        smallest_so_far = the_num
        print(smallest_so_far, the_num)
        print('After', smallest_so_far)

Before 200
9 9
After 9
3 3
After 3

# while loop